* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}

/*HEADER*/
.header {
  min-width: 1024px;
  background: #20232a;
  padding: 20px 0;
}

.logo {
  color: #61dafb;
  font-size: 20px;
  display: inline-block;
  margin-right: 100px;
}

.nav {
  display: inline-block;
  margin-right: 80px;
}

.nav-list {
  font-size: 0;
}

.nav-list-item {
  display: inline-block;
}

.nav-list-item a {
  padding: 0 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

.search-box {
  padding: 5px;
  width: 180px;
  background: transparent;
  font-size: 16px;
  font-weight: 300;
}

.header-link-list {
  float: right;
  font-size: 0; /*이대로라면 inherit되어서 ?*/
}

.header-link-item {
  display: inline-block;
}

.header-link-item a {
  /*왜 위에랑 나눠놨지?*/
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  padding: 5px 10px;
  margin-left: 10px;
}

/*MAIN*/
.main-hero {
  background: #282c34;
}


/*container와 hero container 어떻게 같이 끌어오는지?*/
.hero-container {
  padding; 100px 0;   /*콘테이너 효과에 먹힘? Cf.인스펙트*/
  text-align: center;
}

.hero-heading {
  color: #61DAFB;
  font-size: 60px;
}

.hero-body {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  margin: 10px 0px;
}

.hero-link-list {
  margin-top: 50px;    /*Cf. margin-left...등등*/
}

.hero-link-item {     /*적용전: li(부), a(자):모두 블록?*/
  display: inline-block; /*인라인:나란히, 블록:위아래마진?*/
}

.hero-link-item a {
  padding: 15px 25px;
}

.hero-link-item:first-child a {
  background: #61dafb;
}
 /*first child 실험.*/

.hero-link-item:nth-child(2) a {
  color: #61dafb;
}

.hero-link-item:nth-child(2) a::after {
  content: " >"
}