*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  /*none이면 왜 필요? -> 삭제 고려 요망.*/
  list-style: none;
}

.container {
  width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}

/*HEADER*/
.header {
  min-width: 1024px;
  background: #20232a;
  padding: 20px;
}

.logo {
  color: #61dafb;
  font-size: 20px;
  display: inline-block;
  margin-right: 100px;
}

.nav {
  display: inline-block;
  /*만약 rel이 없는 상태서 abs설정한다면?*/
  margin-right: 80px; /*rtd. (위)*/
}

.nav-list {
  font-size: 0; /*li도 그렇고..왜?*/
}

.nav-list-item {
  display: inline-block;
}

.nav-list-item a {
  /*클래스, 태그 이름 나란히? 정확한 의미?*/
  padding: 0 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}
